<!DOCTYPE html>
<html lang="en">

<head>

 <link rel="stylesheet" href="./css/styleSheet.css">

</head>

<body>
  <div class="mamin-content">
   {{>header}}
   <p>{{msg}}</p>
  </div>
 {{>footer}}

</body>

</html>